[user]
    name = Benoît CORTIER
    email = benoit.cortier@fried-world.eu

[init]
    defaultBranch = main

[core]
  excludesfile = ~/.gitignore
  autocrlf = input

[alias]
    branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes

[color]
    diff = auto
    status = auto
    branch = auto

[push]
    default = simple

[pull]
    rebase = true

[fetch]
    prune = true

[merge]
    ff = only
    conflictStyle = diff3

[commit]
    verbose = true
    template = ~/.gitmessage

[rebase]
    autosquash = true

[diff]
    colorMoved = zebra

[credential]
    helper = cache --timeout=2000

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[interactive]
    diffFilter = delta --color-only

[cola]
	spellcheck = false
